/*global*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

html,body {
    background-image: linear-gradient(white,black,green,red);
    height: 100%;
}


.img {
    object-fit: cover;
}

.white-text {
  color: #fff;
}

/*header styles*/
.logo {
  font-size: 5em;
}

.title a {
  text-decoration: none;
  color: #f27680;
}

.nav {
  background-color: royalblue !important;
  border-style: none;
  font-weight: 900 !important;
}

.nav-tabs {
  background-color: royalblue !important;
  border-style: none !important;
  font-weight: 800 !important;
  
}

.nav a {
  color: royalblue !important;
}

.active a {
  background-color: blue !important;
  border-style: none;
  color: black !important;
}

.nav-tabs>li>a:hover {
  background-color: blue !important;
  border-style: none;
  color: black !important;
}

.dropdown-menu {
  background-color: blue !important;
  border-style: none;
}

.dropdown-menu:active {
    color: blue;
}

.dropdown-menu::after {
    color: blue;
}

.dropdown-menu::backdrop {
    color: blue;
}
/*global button changes*/

.btn {
  background-color: royalblue !important;
  border-style: none;
  color: blue !important;
  font-weight: 900 !important;
  width: 10em;
}

.btn:active {
        transform: scale(0.8);
        color: blue
}

/*thumbnail color override*/

.thumbnail {
  background-color: rgba(0, 0, 0, 0) !important; 
  border-style: none;
}

/*item refers to the styling of items in the carosel */
.item {
  height: 20em;
  background-position: center;
  background-size: cover;
}

/* this is a style to help format some images */
.positionbottom {
  transform: translateY(5%);
}

#guitar-background {
  background-image: url('../img/lute.png');
  background-size: contain;
}

#drums-background {
 background-image: url('../img/mevil.png');
 background-size: contain;
}

#headphones1-background {
  background-image: url('../img/headphones1.png');
  background-size:contain;
}

#headphones2-background {
  background-image: url('../img/headphones2.jpg');
}

#reviews {
  background-image: url('../img/review.jpg');
  background-position: center bottom;
}

#ortho-brick {
    background-image: url('../img/orthodoxbrick.jpg');
    background-position: center;
}

.wrapper {
  max-height: 500px;
}

.hide {
  opacity: 0;
}

.fancyfont {
  font-family: 'Satisfy', cursive;
  color: #f27680; /*accent color*/
  margin-top: 1.5em;
  margin-bottom: -3.1em;
  z-index: 999;
  text-align: center;
  position: relative;
  text-shadow: -5px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#navbar {
  margin-top: 26px;
}

/*thumbnails*/




/* extra positioning */

.thumbnail img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 200px;
}

.img-center {
    text-align: center;
    border-radius: 8px;
    width: 100px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}


/*services style*/

.nave-stacked p {
  margin-top: 16px;
}
