/* Header */

.nav-pills {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    background-color: white;
    opacity: .7; 
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10%;
    float: right;
    text-decoration: none;
    margin-right: 15px;
}

.nav-text {
    color: #bc42f4;

}

.nav-text:hover {

    color: rgba(188, 67, 244, 0.5);
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: visible;
}

ul>li {
    float: right;
    margin-right: 10px;
    display: inline;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-size: 40px; 
}

/* Hero */

.block {
    background-color: white;
    color: #bc42f4;
    opacity: .7;
    padding: 10px; 
    width: 25%;
    margin-right: auto;
    margin-left: auto; 
    border-radius: 10px;
    text-align: center;
}

.btn {
    font-family: 'Exo', sans-serif;
    color: #bc42f4;
    font-size: 20px;
    background-color: white;
    opacity: .8;
    border-color: white;
}

.PageOne {
    background: url("../img/background.jpg");
    height: 95%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    font-family: 'Exo', sans-serif;
}

/* google map resize/position */

.map>iframe {
    width: 100%;
    margin-top: 50px;
}


/* footer section */

footer {
    height: 50px;
    background-color: rgba(188, 67, 244, 0.5);
    text-align: center;
    margin: 0 auto;
    clear: both;
    padding: 2em 2em;
    position: relative;
    top: 50px;
}

.social-media a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
}







