/*global*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

.white-text {
  color: #fff;
}

/*header styles*/
.logo {
  font-size: 5em;
}

.title a {
  text-decoration: none;
  color: #f27680;
}

/*item refers to the styling of items in the carosel */
.item {
  height: 20em;
  background-position: center;
  background-size: cover;
}

/* this is a style to help format some images */
.positionbottom {
  transform: translateY(5%);
}

#guitar-background {
  background-image: url('../img/lute.jpg');
}

#drums-background {
  background-image: url('../img/mevil.jpg');
}

#headphones1-background {
  background-image: url('../img/headphones1.jpg');
}

#headphones2-background {
  background-image: url('../img/headphones2.jpg');
}

#reviews {
  background-image: url('../img/review.jpg');
  background-position: center bottom;
}

.wrapper {
  max-height: 500px;
}

.hide {
  opacity: 0;
}

.fancyfont {
  font-family: 'Satisfy', cursive;
  color: #f27680; /*accent color*/
  margin-top: 1.5em;
  margin-bottom: -3.1em;
  z-index: 999;
  text-align: center;
  position: relative;
  text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

#navbar {
  margin-top: 26px;
}

/*thumbnails*/

.thumbnail {
  background-color: #edf1f4;
  padding: 15px;
}

/*services style*/

.nave-stacked p {
  margin-top: 16px;
}
